<!DOCTYPE html>

<script type="text/javascript">
//Esta funcion muestra un campo del formulario basado en una respuesta
function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifYes').style.display = 'block';
    }
    else document.getElementById('ifYes').style.display = 'none';
}
</script>

<script type="text/javascript">
    function previewFile() {
  var preview = document.querySelector('img');
  var file    = document.querySelector('input[type=file]').files[0];
  var reader  = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
  }

  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.src = "";
  }
}        
</script>

<html>
<head>

<link rel="stylesheet"> 
<style type="text/css"> 

    input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}
</style> 
    
	<title>Comparte tu mascota con el Mundo!</title>
</head>
<body ng-controller="CrearECtrl">

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">Concurso mi mascota</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="#/welcome">Home</a></li>
			<li class="active"><a href="#/crearE">Registrar a tu mascota</a></li>
			<li ng-click="logout()"><a href="#">Logout</a></li>
		</ul>
	</div>
</nav>

<div class="container" ng-show="success">
	<div class="row">
		<div class="alert alert-success">
			<strong>Exito!</strong> Tu entrada ha sido guardada. Ya tu y tu mascota estan participando. 
		</div>
	</div>
</div>

<div class="container">
	<form role="form" name="postForm" ng-submit="createPost()" novalidate="">
		<legend>Crea tu entrada</legend>
		<div class="row">
			<div class="col-md-5">

                <h4 for="titleTxt">Datos del dueño (Tu :D) </h4>
                <br>
                <div class="form-group">
                <label for="nombre_y_apellido">Nombre y Apellido</label>
                    <input type="text" name="nombre" class="form-control" placeholder="nombre" ng-model="article.nombre" required="" /><br>
                    <input type="text" name="apellido" class="form-control" placeholder="apellido" ng-model="article.apellido" required=""/>   
                </div>

                <div class="form-group">
                <label for="cedula">Numero de cedula</label>
                    <input type="number" name="cedula" class="form-control" placeholder="25418545" ng-model="article.cedula" required="" />
                </div>

                <div class="form-group">
                <label for="telf">Numero de telefono</label>
                    <input type="number" name="telf" class="form-control" placeholder="04268049612" ng-model="article.telf" required="" />
                </div>

                <h4 for="titleTxt">Datos de la mascota</h4>
                <br>

                <div class="form-group">
                <label for="nombre_y_apellido">Nombre</label>
                    <input type="text" name="nombre_m" class="form-control" placeholder="Tyrannosaurus rex" ng-model="article.nombre_m" required="" />
                </div>

                <div class="form-group">
                <label for="nombre_y_apellido">Tipo de mascota</label>
                    <input type="text" name="tipo_m" class="form-control" placeholder="perro" ng-model="article.tipo_m" required="" />
                </div>

                <div class="form-group">
                <label for="cedula">Edad en Años y Meses</label>
                    <input type="number" name="edad_m" class="form-control" placeholder="años,meses" ng-model="article.edad_m" required="" />
                </div>

                <div class="form-group" ng-class="{'has-error': postForm.historia_m.$invalid && postForm.historia_m.$touched}">
					<label for="historia_m">Cuentanos una historia divertida de tu mascota</label>
					<textarea name="historia_m" class="form-control" placeholder="Mi mascota tiene un talento especial...erupta." ng-model="article.historia_m" ng-minlength="20" maxlength="400"></textarea>
					<small class="help-block" ng-show="postForm.historia_m.$error.minlength && postForm.historia_m.$touched">Ingresa una historia mas larga.</small>
				</div>

                <label for="adoptada_m">¿Tu mascota es adoptada?</label>
                <div class="form-group">
                <div class="radio">
                <input type="radio" onclick="javascript:yesnoCheck();" name="adoptada_m" value="Si" ng-model="article.adoptada_m" id="yesCheck" required=""> Si<br>
                <input type="radio" onclick="javascript:yesnoCheck();" name="adoptada_m" value="No" ng-model="article.adoptada_m" id="noCheck" required=""> No<br>
                    <div id="ifYes" style="display:none">
                        <div class="form-group" ng-class="{'has-error': postForm.historiaAdop_m.$invalid && postForm.historiaAdop_m.$touched}">
                        <label for="historiaAdop_m">¿Donde la hallaste o adoptaste?</label>
                        <textarea name="historiaAdop_m" class="form-control" placeholder="La adopte en un refugio..." ng-model="article.historiaAdop_m" ng-minlength="5" maxlength="100"></textarea>
                        <small class="help-block" ng-show="postForm.historiaAdop_m.$error.minlength && postForm.historiaAdop_m.$touched">Ingresa donde hallaste o adoptaste a tu mascota.</small>
                        </div>
                    </div>
                    <div id="noCheck" style="display:none">
                    </div>
                </div>
                </div>
                
                <h5 for="titleTxt">Sube hasta tres fotos de tu mascota. Entre mas fotos subas mas chances tienen de ganar</h5>
                <br>


                <input name="files" type="file" value="upload" id"files" multiple>
                <button name="fileButton" type="submit" class="form-control" id="fileButton">Sube las fotos</button>

                    <br>
                    </br>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" ng-disabled="postForm.$invalid">Registrar a tu mascota</button>
				</div>
                <br>
                </br>
	</form>
</div>

</body>
</html>